.login-form__root {
    border: solid black 1px;

    height: 192px;
    width: 456px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form__root form {
    height: 168px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form__fields {
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-form__btns-container {
    display: flex;
    justify-content: space-between;
}