.public-template__header {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px 0 16px;
}

.public-template__header h3 {
    width: 33%;
}

.public-template__header__content {
    width: 66%;

    display: flex;
}

.public-template__header__content ul {
    list-style: none;

    display: flex;
    justify-content: space-around;
}

.public-template__header__links {
    width: 50%;
}

.public-template__header__login {
    width: 50%;

    display: flex;
    justify-content: flex-end;
}
